﻿@using Microsoft.AspNetCore.Hosting
@model AuthServer.ViewModels.ErrorViewModel
@inject IHostingEnvironment host
@{
    var error = Model?.Error?.Error;
    var errorDescription = host.IsDevelopment() ? Model?.Error?.ErrorDescription : null;
    var request_id = Model?.Error?.RequestId;
}
<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>SCGU-Sistema Centralizado de Gesti&oacute;n de Usuarios</title><link href="~/style.css" rel="stylesheet"><script type="text/javascript" src="~/vendor.js"></script><script type="text/javascript" src="~/bundle.js"></script></head><body class="app"><div class="pos-a t-0 l-0 bgc-white w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r p-30"><div class="mR-60"><img alt="#" src="~/assets/static/images/LogoSCGU.svg"></div><div class="d-f jc-c fxd-c"><h1 class="mB-30 fw-900 lh-1 c-red-500" style="font-size:30px"> Hmm...</h1><p class="mB-30 fsz-def c-grey-700">Ha ocurrido un error al procesar tu solicitud.<br /><span style="font-weight:bolder">Error: @error</span>
                @if ("unauthorized_client" == error)
                {
                    <br /><span>Esta aplicaci&oacute;n no esta registrada en este servidor de identidades</span>
                }
                <div class="request-id">Request Id: @request_id</div></p></div></div></body></html>