﻿@using Microsoft.AspNetCore.Hosting
@model Exception;
@inject IHostingEnvironment host
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Error</title>
    <link href="style.css" rel="stylesheet">
</head>
<body class="app">
    <div class="pos-a t-0 l-0 bgc-white w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r ">
        <div class="mR-60">
            <img alt="#" src="~/assets/static/images/logo.png">
        </div><div style="text-align:center" class="d-f jc-c fxd-c">
            <h1 class="mB-30 fw-900 lh-1 c-red-500" style="font-size:30px">HA OCURRIDO UN ERROR</h1>
            <a href="/">Volver</a>
            @if (@*host.IsDevelopment()*@ /**/
                                                     true)
                        {
                            <p class="mB-30 fsz-def c-grey-700">@Model.Message</p>
                            <span>
                                Raw:
                                <span>@Model.ToString()</span>
                            </span>
                        }
            <div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="vendor.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
</body>
</html>