﻿<style>
    .formLoading {
        opacity: 0.3 !important;
    }
    .selectdemoSelectHeader {
    }

        .selectdemoSelectHeader .demo-header-searchbox {
            border: none;
            outline: none;
            height: 100%;
            width: 100%;
            padding: 0;
        }

        .selectdemoSelectHeader .demo-select-header {
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
            padding-left: 10.667px;
            height: 48px;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            width: auto;
        }

        .selectdemoSelectHeader md-content._md {
            max-height: 240px;
        }

    .wrapper {
        display: flex;
        justify-content: center;
    }
</style>
<div ng-controller="UserController as View">
    <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions" style="background-color:rgb(0, 118, 205)!important">
        <div class="md-toolbar-tools">
            <h5>Usuario {{View.UserID}} {{(View.user.firstName)}}</h5>
        </div>
    </md-toolbar>
    <!--<div class="masonry-item col-md-12" style="margin-bottom:10px;" ng-if="AppState===AppStates.Submitted">
        <div class="bgc-white p-20 bd" style=" background-color:#e8ffef!important">
            <h5> El usuario ha sido registrado exitosamente</h5>
            <span style="font-weight:bold">Email: </span><span>{{NewUser.Email}}</span>
            <br />
            <span style="font-weight:bold">Cedula: </span><span>{{NewUser.Cedula}}</span>
            <br />
            <span style="font-weight:bold">Contrase&ntilde;a: </span><span>{{NewUser.Password}}</span>
            <br />
            <span style="color:red">OJO: </span><span style="font-size:smaller">Se le solicitar&aacute; el cambio de contraseña al usuario la primera vez que inicie sesi&oacute;n.</span>
        </div>
    </div>-->
    <div class="row">
        <div class="masonry-item col-md-12">
            <div class="bgc-white p-20 bd">
                <div class="mT-10">
                    <div class="progress" ng-if="View.AppState === View.AppStates.retrivingInfo">
                        <div class="indeterminate" style="background-color: #5fbd00;"></div>
                    </div>
                    <form ng-class="View.AppState === View.AppStates.retrivingInfo ? 'formLoading':''">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Primer Nombre</label>
                                <input ng-model="View.user.firstName"
                                       type="text"
                                       class="form-control"
                                       ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                       placeholder="Primer Nombre">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Segundo Nombre</label>
                                <input ng-model="View.user.secondName"
                                       type="text"
                                       ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                       class="form-control"
                                       placeholder="Segundo Nombre">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Primer Apellido</label>
                                <input ng-model="View.user.firstLastName"
                                       ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                       type="text"
                                       class="form-control"
                                       placeholder="Primer Apellido">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Segundo Apellido</label>
                                <input ng-model="View.user.secondLastName"
                                       type="text"
                                       ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                       class="form-control"
                                       placeholder="Segundo Apellido">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input ng-model="View.user.email"
                                       type="email"
                                       class="form-control"
                                       id="inputEmail4"
                                       ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                       ng-change="OnEmailChange(NewUser.Email)"
                                       placeholder="Email">
                                <span ng-if="NewUser.Email" style="color:{{EmailValidation.Color}}">{{EmailValidation.Message}}</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>G&eacute;nero</label>
                                <select ng-model="View.user.gender"
                                        ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                        class="form-control">
                                    <option disabled selected hidden>Seleccionar...</option>
                                    <option ng-value="2">Masculino</option>
                                    <option ng-value="3">Femenino</option>
                                    <option ng-value="4">Otro</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Cedula</label>
                                <input ng-model="View.user.userID"
                                       ng-change="onIDChange(NewUser.Cedula)"
                                       ng-disabled="AppState===AppStates.Submitting || AppState===AppStates.Submitted || View.AppState === View.AppStates.retrivingInfo"
                                       type="text"
                                       class="form-control"
                                       placeholder="Cedula">
                                <span ng-if="NewUser.Cedula && NewUser.Cedula.length >=11" style="color:{{IDValidation.Color}}">{{IDValidation.Message}}</span>

                            </div>
                            <div class="form-group col-md-6">
                                <label>Pa&iacute;s de Origen</label>
                                <select class="form-control"
                                        ng-model="View.user.birthCountry"
                                        ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                        ng-options="country.countryName for country in View.countries track by country.countryIso2Code"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Direcci&oacute;n</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="View.user.address"
                                   ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                   placeholder="Calle, número">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputState">Provincia</label>
                                <select ng-model="View.user.province"
                                        ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                        ng-options="province.provinceName for province in View.provinces track by province.provinceID"
                                        class="form-control"></select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">Municipio</label>
                                <select ng-model="View.user.municipality"
                                        ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                        ng-options="municipality.municipalityName for municipality in View.municipalities track by municipality.municipalityID"
                                        class="form-control"></select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">Sector</label>
                                <select ng-model="View.user.sector"
                                        ng-options="sector.sectorName for sector in View.sectors track by sector.sectorID" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="fw-500">Fecha de Nacimiento</label>
                                <div class="timepicker-input input-icon form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon bgc-white bd bdwR-5">
                                            <i class="ti-calendar"></i>
                                        </div>
                                        <input ng-model="View.user.birthDate"
                                               ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                               class="form-control"
                                               type="date" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Cargo</label>
                                <md-autocomplete md-no-cache="JobTitle.cacheDisabled"
                                                 md-selected-item="View.user.jobTitle"
                                                 md-search-text-change="JobTitle.onTextChange(JobTitle.LookUpText)"
                                                 md-search-text="JobTitle.LookUpText"
                                                 md-selected-item-change="JobTitle.onItemChange(item)"
                                                 md-items="item in JobTitle.JobTitles"
                                                 md-item-text="item.jobTitleName"
                                                 md-min-length="0"
                                                 ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                                 placeholder="Cargo">
                                    <md-item-template>
                                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.jobTitleName}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        <span ng-if="JobTitle.LookUpText!=''"> No hay registros como "{{JobTitle.LookUpText}}" en la base de datos.</span>
                                        <span ng-if="JobTitle.LookUpText==''">Empieza a escribir el nombre del cargo</span>
                                    </md-not-found>
                                </md-autocomplete>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Departamento</label>

                                <md-select placeholder="Seleccionar Departamento"
                                           flex-gt-xs
                                           ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                           ng-model="View.user.department"
                                           md-on-open="View.LoadServices()"
                                      style="min-width: 200px;margin-top: 0px;">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="View.DEpsearchTerm"
                                               type="search"
                                               ng-keydown="$event.stopPropagation()"
                                               placeholder="Buscar Departamento"
                                               ng-change="View.GetDepartments(View.DEpsearchTerm)"
                                               class="demo-header-searchbox md-text">
                                    </md-select-header>
                                    <md-option ng-value="dep"
                                               ng-repeat="dep in View.Departments">
                                        {{dep.departmentName}}
                                    </md-option>
                                </md-select>

                                <!--<md-autocomplete md-no-cache="Departments.cacheDisabled"
                                                 md-selected-item="View.user.department"
                                                 md-search-text-change="Departments.onTextChange(Departments.LookUpText)"
                                                 md-search-text="Departments.LookUpText"
                                                 ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                                 md-selected-item-change="Departments.onItemChange(item)"
                                                 md-items="item in Departments.Departments"
                                                 md-item-text="item.departmentName"
                                                 md-min-length="0"
                                                 placeholder="Departamento">
                                    <md-item-template>
                                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.departmentName}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        <span ng-if="Departments.LookUpText!=''"> No hay registros como "{{Departments.LookUpText}}" en la base de datos.</span>
                                        <span ng-if="Departments.LookUpText==''">Empieza a escribir el nombre del departamento/direcci&oacute;n</span>
                                    </md-not-found>
                                </md-autocomplete>-->
                            </div>
                            <div class="form-group col-md-6">
                                <label>Sucursal</label>
                                <md-autocomplete md-selected-item="View.user.location"
                                                 md-search-text-change="Locations.onTextChange(Locations.LookUpText)"
                                                 md-search-text="Locations.LookUpText"
                                                 md-items="item in Locations.Locations"
                                                 md-item-text="item.locationName"
                                                 ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                                 md-require-match="true"
                                                 md-select-on-match="true"
                                                 md-match-case-insensitive="true"
                                                 class="asComplete"
                                                 placeholder="Sucursal">
                                    <md-item-template>
                                        <span md-highlight-text="Locations.LookUpText" md-highlight-flags="^i">{{item.locationName}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        <span ng-if="Locations.LookUpText!=''"> No hay registros como "{{Locations.LookUpText}}" en la base de datos.</span>
                                        <span ng-if="Locations.LookUpText==''">Empieza a escribir el nombre de la sucursal</span>
                                    </md-not-found>
                                </md-autocomplete>
                            </div>
                        </div>
                        <div layout="row" layout-align="end start">
                            <md-button class="md-raised md-primary"
                                       ng-if="View.user.status !=View.UserStatuses.Deactivated"
                                       ng-click="View.Deactivate($event)"
                                       ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                       style="background-color: #d11414">
                                Desactivar
                            </md-button>
                            <md-button class="md-raised md-primary"
                                       ng-if="View.user.status ==View.UserStatuses.Deactivated"
                                       ng-click="View.Activate($event)"
                                       ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                       style="background-color: #5fbd00">
                                Activar
                            </md-button>
                            <md-button class="md-raised md-primary"
                                       ng-click="View.Update(View.user)"
                                       ng-disabled="View.AppState === View.AppStates.retrivingInfo"
                                       style="background-color: rgb(0, 118, 205)!important;">Actualizar</md-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
