﻿<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
    <div class="md-toolbar-tools">
        <h5>Busqueda de Usuario</h5>
    </div>
</md-toolbar>
<div class="row" ng-controller="UserSearchController as View">
    <div class="masonry-item col-md-12" style="margin-bottom:10px;">
        <div class="bgc-white p-20 bd">
            <form ng-submit="View.GetUser(View.SearchTerm)">
                <div class="form-row">
                    <div class="form-group col-md-12" layout="row" layout-align="center center">
                        <div class="col-md-10 ">
                            <input type="text"
                                   class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                   ng-model="View.SearchTerm"
                                   placeholder="Introduce el Nombre, Cédula o correo electrónico del usuario"
                                   aria-invalid="false">
                        </div>
                        <md-button ng-click="View.GetUsers(View.Page,View.Limit)" class="md-raised md-primary">Buscar</md-button>
                    </div>
                </div>
            </form>
            <md-table-container>
                <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                    <thead md-head md-order="query.order" md-on-reorder="View.OnReorder">
                        <tr md-row>
                            <th md-column md-order-by="userID"><span>ID</span></th>
                            <th md-column md-order-by="fullName"><span>Nombre</span></th>
                            <th md-column md-numeric>Departamento</th>
                            <th md-column md-numeric>Cargo</th>
                            <th md-column md-numeric style="    text-align: center;">Estatus</th>
                            <th md-column md-numeric></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="user in View.UsersList">
                            <td md-cell>{{user.userID}}</td>
                            <td md-cell>{{user.fullName}}</td>
                            <td md-cell>{{user.departmentName}}</td>
                            <td md-cell>{{user.jobTitleName}}</td>
                            <td md-cell>
                                <style>
                                    .chipppp {
                                        font-size: 10px !important;
                                        background-color: #96ff5e;
                                        background-color: #ffe866;
                                        width: 100%;
                                        text-align:center
                                    }
                                </style>
                                <md-chips ng-if="user.status===2">
                                    <md-chip class="chipppp">
                                        NORMAL
                                    </md-chip>
                                </md-chips>
                                <md-chips ng-if="user.status===3">
                                    <md-chip class="chipppp">
                                        DESACTIVADO
                                    </md-chip>
                                </md-chips>
                                <md-chips ng-if="user.status===4">
                                    <md-chip class="chipppp">
                                        NUEVO
                                    </md-chip>
                                </md-chips>
                            </td>
                            <td md-cell>
                                <a href="/#!/Usuario/{{user.userID}}" class="btn cur-p btn-outline-primary" style="float:right">Detalles</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <!--<md-table-container style="width:100%!important;">
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                            <th md-column scope="col">ID</th>
                            <th md-column scope="col">Nombre</th>
                            <th md-column scope="col">Departamento</th>
                            <th md-column scope="col">Cargo</th>
                            <th md-column scope="col">Estatus</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="user in View.UsersList">
                            <th md-cell>{{user.userID}}</th>
                            <th md-cell>{{user.fullName}}</th>
                            <th md-cell>{{user.departmentName}}</th>
                            <th md-cell>{{user.jobTitleName}}</th>
                            <th md-cell>
                                <md-chips ng-if="user.status===2">
                                    <md-chip style="font-size:10px!important; background-color:#96ff5e">
                                        NORMAL
                                    </md-chip>
                                </md-chips>
                                <md-chips ng-if="user.status===3">
                                    <md-chip style="font-size:10px!important; background-color:#ff9999">
                                        DESACTIVADO
                                    </md-chip>
                                </md-chips>
                                <md-chips ng-if="user.status===4">
                                    <md-chip style="font-size:10px!important; background-color:#ffe866">
                                        NUEVO
                                    </md-chip>
                                </md-chips>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>-->
            <md-table-pagination md-limit="View.Limit"
                                 md-limit-options="[5, 10, 15]"
                                 md-page="View.Page"
                                 md-total="{{View.total}}"
                                 md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"
                                 md-on-paginate="View.GetUsers"
                                 md-page-select></md-table-pagination>
            <!--<table ng-if="View.UsersList" class="table animated fadeIn">
                <thead style="background-color: #0076cd;border-color: #085c9a; color:white">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Estatus</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in View.UsersList">
                        <th scope="row">{{user.userID}}</th>
                        <td>{{user.fullName}}</td>
                        <td>{{user.departmentName}}</td>
                        <td>{{user.jobTitleName}}</td>
                        <td>
                            <md-chips ng-if="user.status===2">
                                <md-chip style="font-size:10px!important; background-color:#96ff5e">
                                    NORMAL
                                </md-chip>
                            </md-chips>
                            <md-chips ng-if="user.status===3">
                                <md-chip style="font-size:10px!important; background-color:#ff9999">
                                    DESACTIVADO
                                </md-chip>
                            </md-chips>
                            <md-chips ng-if="user.status===4">
                                <md-chip style="font-size:10px!important; background-color:#ffe866">
                                    NUEVO
                                </md-chip>
                            </md-chips>
                        </td>
                        <td>
                            <a href="/#!/Usuario/{{user.userID}}" class="btn cur-p btn-outline-primary" style="float:right">Detalles</a>
                        </td>
                    </tr>
                    <tr ng-if="View.UsersList && !View.UsersList.length">
                        <td colspan="6" style="text-align:center">
                            <h5>No tenemos usuarios que coincidan con "{{View.SearchTerm}}".</h5>
                        </td>
                    </tr>
                </tbody>
            </table>-->
        </div>
    </div>
</div>