﻿@model AuthServer.Controllers.ReportsController.NewUserReportParams
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        .invoice-box {
            max-width: 95% !important;
            margin: auto;
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .lefty {
            text-align: left !important
        }

        .righty {
            text-align: right !important;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

            .invoice-box table td {
                padding: 5px;
                vertical-align: top;
            }

            .invoice-box table tr td:nth-child(2) {
                text-align: right;
            }

            .invoice-box table tr.top table td {
                padding-bottom: 20px;
            }

                .invoice-box table tr.top table td.title {
                    font-size: 45px;
                    line-height: 45px;
                    color: #333;
                }

            .invoice-box table tr.information table td {
                padding-bottom: 40px;
            }

            .invoice-box table tr.heading td {
                background: #eee;
                border-bottom: 1px solid #ddd;
                font-weight: bold;
            }

            .invoice-box table tr.details td {
                padding-bottom: 20px;
            }

            .invoice-box table tr.item td {
                border-bottom: 1px solid #eee;
            }

            .invoice-box table tr.item.last td {
                border-bottom: none;
            }

            .invoice-box table tr.total td:nth-child(2) {
                border-top: 2px solid #eee;
                font-weight: bold;
            }
    </style>
</head>
<body>
    <div class="invoice-box" style="height:100%!important">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="3">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="https://micm.gob.do/images/headers/logo.png" style="width:100%; max-width:250px; height:auto; min-width:150px!important">
                            </td>
                            <td>
                                Fecha:@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss tt")
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center; font-weight:bold">
                                DIRECCI&Oacute;N DE TECNOLOG&Iacute;A DE LA INFORMACI&Oacute;N Y COMUNICACIÓN <br /><hr />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td colspan="3">
                    REGISTRO DE NUEVA CUENTA DE USUARIO MICM
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table>
                        <tr>
                            <td colspan="2">
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                Estimado usuario, se ha registrado la cuenta MICM a su nombre, a continuaci&oacute;n estar&aacute;n las credenciales de la misma.<br /><br />
                                <span style="font-weight:bold">Email:</span>
                                @Model.Email
                                <br />
                                <span style="font-weight:bold">Cedula:</span> @Model.Cedula<br />
                                <span style="font-weight:bold">Contraseña:</span> @Model.Password<br /><br /><br />

                                <div>
                                    <span style="font-weight:bold; color:red">¡Atenci&oacute;n!</span><br />
                                    La primera vez que inicie sesi&oacute;n, el sistema le solicitar&aacute; que realize un cambio de contraseña.<br />
                                    Si el sistema no le solicita el cambio, usted debe de comunicarse <span style="font-weight:bold">inmediatamente</span> con la Direcci&oacute;n de Tecnolog&iacute;a.<br />
                                    Su cuenta MICM le permitir&aacute; acceder a distintos sistemas con las mismas credenciales.<br />
                                </div>
                                <div>

                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
    </div>
</body>
</html>