﻿@model AuthServerHelpers.MicmUser
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>SCGU-MICM</title>
    <link href="~/IndexMiscs.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/loader.css" rel="stylesheet" />
    <link href="~/assets/Plugins/Sweet-modal-1.3.3/jquery.sweet-modal.min.css" rel="stylesheet" />
    <link href="~/assets/Js/AngularMaterial/angularmaterial.css" rel="stylesheet" />
    <link href="~/assets/App/Ng-Plugins/md-data-table/md-data-table.css" rel="stylesheet" />
    <base href="/#!/" />
    <style>
        .btn {
            border-radius: 0 !important
        }

        .formLoading {
            opacity: 0.3 !important;
        }

        .tg-list {
            text-align: center;
            display: flex;
            align-items: center;
        }

        .tg-list-item {
            margin: 0 2em;
        }

        h2 {
            color: #777;
        }

        h4 {
            color: #999;
        }

        .tgl {
            display: none;
        }

            .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
                box-sizing: border-box;
            }

                .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
                    background: none;
                }

                .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
                    background: none;
                }

                .tgl + .tgl-btn {
                    outline: 0;
                    display: block;
                    width: 4em;
                    height: 2em;
                    position: relative;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
                        position: relative;
                        display: block;
                        content: "";
                        width: 50%;
                        height: 100%;
                    }

                    .tgl + .tgl-btn:after {
                        left: 0;
                    }

                    .tgl + .tgl-btn:before {
                        display: none;
                    }

                .tgl:checked + .tgl-btn:after {
                    left: 50%;
                }

        .tgl-light + .tgl-btn {
            background: #f0f0f0;
            border-radius: 2em;
            padding: 2px;
            transition: all .4s ease;
        }

            .tgl-light + .tgl-btn:after {
                border-radius: 50%;
                background: #fff;
                transition: all .2s ease;
            }

        .tgl-light:checked + .tgl-btn {
            background: #9FD6AE;
        }

        .tgl-ios + .tgl-btn {
            background: #fbfbfb;
            border-radius: 2em;
            padding: 2px;
            transition: all .4s ease;
            border: 1px solid #e8eae9;
        }

            .tgl-ios + .tgl-btn:after {
                border-radius: 2em;
                background: #fbfbfb;
                transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
            }

            .tgl-ios + .tgl-btn:hover:after {
                will-change: padding;
            }

            .tgl-ios + .tgl-btn:active {
                box-shadow: inset 0 0 0 2em #e8eae9;
            }

                .tgl-ios + .tgl-btn:active:after {
                    padding-right: .8em;
                }

        .tgl-ios:checked + .tgl-btn {
            background: #86d993;
        }

            .tgl-ios:checked + .tgl-btn:active {
                box-shadow: none;
            }

                .tgl-ios:checked + .tgl-btn:active:after {
                    margin-left: -.8em;
                }

        .tgl-skewed + .tgl-btn {
            overflow: hidden;
            -webkit-transform: skew(-10deg);
            transform: skew(-10deg);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transition: all .2s ease;
            font-family: sans-serif;
            background: #888;
        }

            .tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
                -webkit-transform: skew(10deg);
                transform: skew(10deg);
                display: inline-block;
                transition: all .2s ease;
                width: 100%;
                text-align: center;
                position: absolute;
                line-height: 2em;
                font-weight: bold;
                color: #fff;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
            }

            .tgl-skewed + .tgl-btn:after {
                left: 100%;
                content: attr(data-tg-on);
            }

            .tgl-skewed + .tgl-btn:before {
                left: 0;
                content: attr(data-tg-off);
            }

            .tgl-skewed + .tgl-btn:active {
                background: #888;
            }

                .tgl-skewed + .tgl-btn:active:before {
                    left: -10%;
                }

        .tgl-skewed:checked + .tgl-btn {
            background: #86d993;
        }

            .tgl-skewed:checked + .tgl-btn:before {
                left: -100%;
            }

            .tgl-skewed:checked + .tgl-btn:after {
                left: 0;
            }

            .tgl-skewed:checked + .tgl-btn:active:after {
                left: 10%;
            }

        .tgl-flat + .tgl-btn {
            padding: 2px;
            transition: all .2s ease;
            background: #fff;
            border: 4px solid #f2f2f2;
            border-radius: 2em;
        }

            .tgl-flat + .tgl-btn:after {
                transition: all .2s ease;
                background: #f2f2f2;
                content: "";
                border-radius: 1em;
            }

        .tgl-flat:checked + .tgl-btn {
            border: 4px solid #7FC6A6;
        }

            .tgl-flat:checked + .tgl-btn:after {
                left: 50%;
                background: #7FC6A6;
            }

        .tgl-flip + .tgl-btn {
            padding: 2px;
            transition: all .2s ease;
            font-family: sans-serif;
            -webkit-perspective: 100px;
            perspective: 100px;
        }

            .tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
                display: inline-block;
                transition: all .4s ease;
                width: 100%;
                text-align: center;
                position: absolute;
                line-height: 2em;
                font-weight: bold;
                color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                border-radius: 4px;
            }

            .tgl-flip + .tgl-btn:after {
                content: attr(data-tg-on);
                background: #02C66F;
                -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
            }

            .tgl-flip + .tgl-btn:before {
                background: #FF3A19;
                content: attr(data-tg-off);
            }

            .tgl-flip + .tgl-btn:active:before {
                -webkit-transform: rotateY(-20deg);
                transform: rotateY(-20deg);
            }

        .tgl-flip:checked + .tgl-btn:before {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }

        .tgl-flip:checked + .tgl-btn:after {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
            left: 0;
            background: #7FC6A6;
        }

        .tgl-flip:checked + .tgl-btn:active:after {
            -webkit-transform: rotateY(20deg);
            transform: rotateY(20deg);
        }

        .tgl-ios:checked + .tgl-btn {
            background: #5fbd00 !important;
        }

        .sweet-modal-box {
            float: left !important;
        }

        .sidebar {
            z-index: 77 !important;
        }

        .header {
            z-index: 77 !important;
        }
    </style>
</head>


<body class="app" ng-app="AuthServerApp">
    <md-content style="height: 100%;  width: 100%;  overflow-y: scroll;">
        <div id="loader"><div class="spinner"></div></div>
        <div>
            <div class="sidebar">
                <div class="sidebar-inner">
                    <div class="sidebar-logo">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer peer-greed">
                                <a class="sidebar-link td-n" href="/#!/">
                                    <div class="peers ai-c fxw-nw">
                                        <div class="peer">
                                            <div class="logo" style="padding-left: 10px;padding-top: 10px;">
                                                <img id="logo" src="assets/static/images/sguLogo.svg" style="width:45px;height:auto" alt="">
                                            </div>
                                        </div><div class="peer peer-greed"><h6 class="lh-1 mB-0 logo-text">Sistema Centralizado de Gesti&oacute;n de Usuarios</h6></div>
                                    </div>
                                </a>
                            </div><div class="peer">
                                <div class="mobile-toggle sidebar-toggle">
                                    <a href="" class="td-n"><i class="ti-arrow-circle-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><ul class="sidebar-menu scrollable pos-r">
                        <li class="nav-item mT-30 active">
                            <a class="sidebar-link" href="/#!/">
                                <span class="icon-holder"><i class="c-blue-500 ti-home"></i> </span><span class="title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder"><i class="c-brown-500 ti-user"></i> </span>
                                <span class="title">Usuarios</span>
                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropdown">
                                    <a href="/#!/Usuarios/NuevoUsuario">
                                        <span>Crear usuario</span>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="/#!/Usuarios/Buscar">
                                        <span>Buscar Usuario</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="c-deep-orange-500 ti-world"></i>
                                </span>
                                <span class="title">Aplicaciones</span>
                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropdown">
                                    <a href="/#!/Aplicaciones/NuevaAplicacion">
                                        <span>Nueva app</span>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="/#!/Aplicaciones">
                                        <span>Listado</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @*<li class="nav-item">
                            <a class="sidebar-link" href="chat.html">
                                <span class="icon-holder"><i class="c-deep-purple-500 ti-files"></i> </span><span class="title">Documentaci&oacute;n</span>
                            </a>
                        </li>*@
                    </ul>
                </div>
            </div><div class="page-container">
                <div class="header navbar">
                    <div class="header-container">
                        <ul class="nav-left">
                            <li>
                                <a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);"><i class="ti-menu"></i></a>
                            </li>
                            <li class="search-box">
                                <a class="search-toggle no-pdd-right" href="javascript:void(0);">
                                    <i class="search-icon ti-search pdd-right-10"></i>
                                    <i class="search-icon-close ti-close pdd-right-10"></i>
                                </a>
                            </li>
                            <li class="search-input"><input class="form-control" type="text" placeholder="Search..."></li>
                        </ul>
                        <ul class="nav-right">
                            <li class="dropdown" id="navmenu">
                                <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                                    <div class="peer">
                                        <span class="fsz-sm c-grey-900">@Model.FirstName @Model.SecondName (@Model.UserID)</span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu fsz-sm">
                                    <li>
                                        <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                            <i class="ti-settings mR-10"></i>
                                            <span>Setting</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                            <i class="ti-user mR-10"></i>
                                            <span>Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="email.html" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                            <i class="ti-email mR-10"></i>
                                            <span>Messages</span>
                                        </a>
                                    </li>
                                    <li role="separator" class="divider">

                                    </li>
                                    <li>
                                        <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                            <i class="ti-power-off mR-10"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="notifications dropdown">
                                <a href="" id="logoutbtn">
                                    Cerrar Sesi&oacute;n
                                    <i class="ti-arrow-circle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <main class="main-content bgc-grey-100" ng-view>
                </main>
                <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
                    <span>
                        MINISTERIO INDUSTRIA, COMERCIO Y MIPYMES (MICM)
                    </span>
                </footer>
            </div>
        </div>

    </md-content>
    <script type="text/javascript" src="vendor.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
    <script type="text/javascript" src="~/assets/Js/Jquery3.3.1.min.js"></script>
    <script src="~/assets/Js/bootstrap.min.js"></script>
    <script src="~/assets/Plugins/Sweet-modal-1.3.3/jquery.sweet-modal.min.js"></script>
    <script src="~/assets/Plugins/momentsjs/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/assets/Js/AngularJS.js"></script>
    <script type="text/javascript">
        (function () {
            angular.AuthServer = {
                valueOrNull: (obj, value) => {
                    if (angular.isUndefined(obj) || obj == null)
                        return null;
                    if (angular.isUndefined(value) || value == null)
                        return null;
                    if (angular.isUndefined(obj[value]) || obj[value] == null)
                        return null;
                    return obj[value];
                }
            }
        })();
    </script>
    <script src="~/assets/Js/AngularMaterial/angular-material.min.js"></script>
    <script src="~/assets/Js/angular-animate/angular-animate.min.js"></script>
    <script src="~/assets/Js/angular-aria/angular-aria.min.js"></script>
    <script src="~/assets/Js/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="~/assets/Js/NgRoute.js"></script>
    <script src="~/assets/Js/angular-sanitize.min.js"></script>
    <script src="~/assets/Plugins/angularUi/ui-select/select.min.js"></script>
    <script type="text/javascript" src="https://underscorejs.org/underscore-min.js"></script>
    <script src="~/assets/App/Ng-Plugins/md-data-table/md-data-table.min.js"></script>
    <script type="text/javascript" src="~/assets/App/AppContext.js"></script>
    <script src="~/assets/App/Services/APIService.js"></script>
    <script src="~/assets/App/Services/ValidatorsService.js"></script>
    <script src="~/assets/App/Controllers/Apps/NewAppController.js"></script>
    <script src="~/assets/App/Controllers/Apps/AppController.js"></script>
    <script src="~/assets/App/Controllers/Apps/NewUserController.js"></script>
    <script src="~/assets/App/Controllers/Apps/AppsListController.js"></script>
    <script src="~/assets/App/Controllers/Apps/UserSearchController.js"></script>
    <script src="~/assets/App/Controllers/Users/UserController.js"></script>
    <script>
        (function () {
            angular.module('ng').run(['$rootScope', function ($rootScope) {
                $rootScope.$safeApply = function () {
                    var $scope, fn, force = false;
                    if (arguments.length == 1) {
                        var arg = arguments[0];
                        if (typeof arg == 'function') {
                            fn = arg;
                        }
                        else {
                            $scope = arg;
                        }
                    }
                    else {
                        $scope = arguments[0];
                        fn = arguments[1];
                        if (arguments.length == 3) {
                            force = !!arguments[2];
                        }
                    }
                    $scope = $scope || this;
                    fn = fn || function () { };
                    if (force || !$scope.$$phase) {
                        $scope.$apply ? $scope.$apply(fn) : $scope.apply(fn);
                    }
                    else {
                        fn();
                    }
                };
            }]);
            $.sweetModal.mapNativeFunctions();
            $.sweetModal.defaultSettings.confirm = {
                cancel: { label: "Cancelar", classes: "redB bordered flat" },
                ok: { label: "OK", classes: "greenB" },
                yes: { label: "Si", classes: "greenB" }
            }
            window.addEventListener('load', () => {
                const loader = document.getElementById('loader');
                setTimeout(() => {
                    loader.classList.add('fadeOut');
                    setTimeout(() => {
                        $('#logo').addClass('animated rotateIn')
                    }, 50)
                }, 300);
            });
        })();
    </script>
    <input style="display:none" id="IdentityServerHolder" value="@Model.ToString()" />
    <script type="text/javascript">
        (function () {
            const holder = document.getElementById('IdentityServerHolder');
            const rawval = holder.value;
            window.MICM_AUTH_SERVER = { identity: JSON.parse(rawval) }
            holder.remove();

        })();
    </script>
</body>
</html>