﻿@model AuthServer.ViewModels.LoginVM;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link href="~/assets/css/loader.css" rel="stylesheet" />
    <title>Iniciar Sesi&oacute;n</title>
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    <style>
        #loader {
            transition: all .3s ease-in-out;
            opacity: 1;
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            background: #fff;
            z-index: 90000
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        #loader.fadeOut {
            opacity: 0;
            visibility: hidden
        }

        .spinner {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1s infinite ease-in-out;
            animation: sk-scaleout 1s infinite ease-in-out
        }

        @@-webkit-keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0)
            }

            100% {
                -webkit-transform: scale(1);
                opacity: 0
            }
        }

        @@keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0)
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0
            }
        }
    </style>
    <link href="~/style.css" rel="stylesheet">
</head>
<body class="app" ng-app="AuthServerApp" ng-cloak>
    <div id="loader"><div class="spinner"></div></div>
    <script>
        window.addEventListener('load', () => {
            const loader = document.getElementById('loader');
            setTimeout(() => {
                loader.classList.add('fadeOut');
            }, 300);
        });</script>
    <div class="peers ai-s fxw-nw h-100vh" ng-controller="LoginCTR">
        <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style="background-image:url(@AuthServer_IdentityServer.Config.GetLoginImage())">
            <div class="pos-a centerXY">
                <div class="bgc-white pos-r" style="width:150px;height:150px;border-radius: 74px;background: #ffffffc9!important;">
                    <img style="height:auto;max-width:120px;" class="pos-a centerXY" src="~/assets/static/images/logon2.png" alt="">

                </div>
            </div>
        </div><div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style="min-width:320px">
            <h4 ng-if="!resetPassword" class="fw-300 c-grey-900 mB-40">
                Inicia Sesi&oacute;n en <br />
                <b>@Model.DisplayName  <small>(@Model.ClientID)</small></b> 
                <br /> con tu cuenta <span style="font-weight:700; color:#0C83E2">MICM</span>
            </h4>
            <h4 style="font-weight:700; color:#0C83E2" ng-if="resetPassword" class="fw-300  mB-40">
                Para continuar, necesitamos que cambies tu contraseña
            </h4>
            <form>
                <div ng-if="loginHasFailed" class="alert alert-danger" role="alert">
                    <p ng-if="responseStatus == 404">
                        Estas credenciales no corresponden con ningún usuario registrado en el sistema. <br />
                        Por favor, verifica los datos e intenta una vez m&aacute;s.
                    </p>
                    <p ng-if="responseStatus == 401">
                        <span style="font-weight:bolder">Su usuario se encuentra desactivado.</span>
                        <br />
                        Póngase en contacto con su administrador del sistemas para m&aacute;s informaci&oacute;n.
                    </p>
                </div>
                <div class="form-group">
                    <div class="progress" ng-if="Loading">
                        <div class="indeterminate" style="background-color: #0076CD;"></div>
                    </div>
                    <label class="text-normal text-dark">C&eacute;dula o Correo Electr&oacute;nico</label>
                    <input style="display:none" id="returnUrl" value="@Model.ReturnURL" />
                    <input type="text"
                           class="form-control"
                           ng-change="LoginError = false"
                           ng-disabled="Loading || resetPassword"
                           ng-model="UserLoginDTO.Identifier"
                           placeholder="C&eacute;dula o Correo Electr&oacute;nico">
                </div>
                <div class="form-group">
                    <label class="text-normal text-dark">Contrase&ntilde;a</label>
                    <input type="password"
                           ng-model="UserLoginDTO.Password"
                           ng-disabled="Loading || resetPassword"
                           ng-change="LoginError = false"
                           class="form-control"
                           placeholder="Contraseña">
                    <label ng-if="LoginError" style="color:red;font-size:smaller">Los datos ingresados no parecen ser correctos, por favor, verificalos e int&eacute;ntalo una vez m&aacute;s.</label>
                </div>
                <div class="form-group" ng-if="resetPassword">
                    <label class="text-normal text-dark">Nueva Contrase&ntilde;a</label>
                    <input type="password"
                           ng-model="UserLoginDTO.NewPassword"
                           ng-disabled="Loading "
                           class="form-control"
                           placeholder="Contraseña">
                </div>
                <div class="form-group" ng-if="resetPassword">
                    <label class="text-normal text-dark">Repite la nueva contrase&ntilde;a</label>
                    <input type="password"
                           ng-model="UserLoginDTO.NewPasswordRepeat"
                           ng-disabled="Loading "
                           class="form-control"
                           placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <div>
                        <div class="peer">
                            <a href="/RecuperarPassword" style="float:left" class="btn btn-outline-primary">Recuperar Contraseña</a>
                        </div>

                        <div>

                            <div class="peer">
                                <button ng-disabled="Loading" ng-click="Login(UserLoginDTO)" style="float:right;" class="btn btn-primary">Iniciar Sesi&oacute;n</button>
                            </div>
                            <div class="peer">
                                <a style="float:right;margin-right:10px;color:white" href="/signup" class="btn btn-info">Solicitar Usuario</a>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    #footer {
                        position: fixed;
                        left: 0px;
                        bottom: 0px;
                        height: 50px;
                        width: 100%;
                        background: #ffffffc7;
                        padding-left: 22px;
                    }
                </style>
                <div id="footer">
                    <h6 style="color: #0c8fe8; padding-bottom: 0px !important; margin-bottom: 0px;">Sistema Centralizado de Gesti&oacute;n de Usuarios (SCGU)</h6>
                    Direcci&oacute;n de Tecnolog&iacute;as de la Informaci&oacute;n, y Comunicaciones &mdash; Departamento de Desarrollo e Implementacion de Sistemas
                    <br />
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="~/vendor.js"></script>
    <script type="text/javascript" src="~/bundle.js"></script>
    <script type="text/javascript" src="~/assets/Js/AngularJS.js"></script>
    <script src="~/assets/Plugins/BrowserReport/BrowserReport.js"></script>
    <script>
        (function () {
            const context = angular.module("AuthServerApp", []);
            context.controller('LoginCTR', LoginCTR);
            LoginCTR.$inject = ['$scope', '$http'];
            function LoginCTR($scope, $http) {

                let BrowserReport = browserReportSync();

                try {
                    BrowserReport = {
                        Browser: BrowserReport.browser.name,
                        Browser_Version: BrowserReport.browser.version,
                        OS: BrowserReport.os.name,
                        OS_Version: BrowserReport.os.version,
                        Language: BrowserReport.lang[0],
                        Screen: BrowserReport.screen.width + 'x' + BrowserReport.screen.height
                    };
                } catch (e) {
                    BrowserReport = {};
                }



                console.log('--->', BrowserReport);

                $scope.UserLoginDTO = { Identifier: null, Password: null };
                $scope.Login = (LoginParams) => {
                    if ($scope.UserLoginDTO.Identifier && $scope.UserLoginDTO.Password) {
                        $scope.LoginError = false;
                        $scope.Loading = true;
                        $scope.loginHasFailed = false;
                        $scope.UserLoginDTO.ReturnUrl = document.getElementById('returnUrl').value;

                        const LOGIN_DTO = angular.extend({}, BrowserReport, LoginParams);

                        $http.post('/Login', LOGIN_DTO).then((r) => {
                            if (r.data.returnUrl)
                                window.location.replace(r.data.returnUrl);
                            if (r.data.token) {
                                $scope.UserLoginDTO.NewPasswordToken = r.data.token;
                                $scope.resetPassword = true;
                            }
                            $scope.Loading = false;
                        },
                            (e) => {
                                $scope.responseStatus = e.status;
                                console.log(e)
                                $scope.loginHasFailed = true;
                                $scope.Loading = false;
                            });
                    } else $scope.LoginError = true;
                }
            }
        })();
    </script>
</body>
</html>