﻿@model string;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>(SCGU) Sistema Centralizado de Gesti&oacute;n de Usuarios - @Model</title>>
    <link href="style.css" rel="stylesheet">
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>
<body class="app" style="background-color: #fafbfb!important;">
    <script type="text/javascript" src="~/vendor.js"></script>
    <script type="text/javascript" src="~/bundle.js"></script>
    <div class="pos-a t-0 l-0 bgc-white w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r p-30">
        <div class="mR-60">
            <img src="~/assets/static/images/LogoSCGU.svg" />
        </div>
        <div class="d-f jc-c fxd-c">
            <h2 class="mB-30 fw-900 lh-1 c-red-500" style="font-size: 35px;margin-bottom: 2px!important;color:#0075c9!important">Haz cerrado sesión</h2>
            <h3 class="mB-10 fsz-lg c-grey-900 ">Hemos cerrado la sesi&oacute;n en el sistema "@Model"</h3>
            <p class="mB-30 fsz-def c-grey-700">Ya puedes cerrar esta ventana.</p>
            <div class="peer"><button type="button" onclick="window.location.replace('/GoToApp/@Model')" class="btn cur-p btn-outline-primary btn-block">Volver a "@Model"</button></div>
        </div>
    </div>
</body>
</html>