﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="VIEWport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link href="~/assets/css/loader.css" rel="stylesheet" />
    <title>Recuperar Contraseña</title>
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    <style>
        #loader {
            transition: all .3s ease-in-out;
            opacity: 1;
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            background: #fff;
            z-index: 90000
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        #loader.fadeOut {
            opacity: 0;
            visibility: hidden
        }

        .spinner {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1s infinite ease-in-out;
            animation: sk-scaleout 1s infinite ease-in-out
        }

        .selectdemoSelectHeader {
            /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
        }

            .selectdemoSelectHeader .demo-header-searchbox {
                border: none;
                outline: none;
                height: 100%;
                width: 100%;
                padding: 0;
            }

            .selectdemoSelectHeader .demo-select-header {
                box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
                padding-left: 10.667px;
                height: 48px;
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                width: auto;
            }

            .selectdemoSelectHeader md-content._md {
                max-height: 240px;
            }

        @@-webkit-keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0)
            }

            100% {
                -webkit-transform: scale(1);
                opacity: 0
            }
        }

        @@keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0)
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0
            }
        }
    </style>
    <link href="~/assets/Js/AngularMaterial/angularmaterial.css" rel="stylesheet" />
    <link href="~/style.css" rel="stylesheet">
</head>
<body class="app" ng-app="AuthServerApp" ng-cloak>
    <div id="loader"><div class="spinner"></div></div>
    <script>
        window.addEventListener('load', () => {
            const loader = document.getElementById('loader');
            setTimeout(() => {
                loader.classList.add('fadeOut');
            }, 300);
        });</script>
    <div class="peers ai-s fxw-nw h-100vh" ng-controller="RecuperarPasswordController as VIEW">
        <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style="background-image:url(@AuthServer_IdentityServer.Config.GetLoginImage()">
            <div class="pos-a centerXY">
                <div class="bgc-white pos-r" style="width:120px;height:120px;border-radius: 74px;background: #ffffffc9!important;">
                    <img style="height:auto;max-width:120px;" class="pos-a centerXY" src="~/assets/static/images/logon.svg" alt="">

                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r"
             ng-show="!VIEW.Succesfull"
             style="min-width:320px">
            <h4 class="fw-300 c-grey-900 mB-40">
                Recuperar contraseña de usuario
                <span style="font-weight:700; color:#0C83E2">MICM</span>
            </h4>
            <form flex name="newusrform">
                <input type="text"
                       class="form-control"
                       ng-change="VIEW.LoginError = false"
                       ng-model="VIEW.RecuperarPassword"
                       placeholder="C&eacute;dula o Correo Electr&oacute;nico">
                <label ng-if="VIEW.LoginError" style="color:red;font-size:smaller">Los datos ingresados no parecen ser correctos, por favor, verificalos e int&eacute;ntalo una vez m&aacute;s.</label>
                </br>
                <div class="form-group">
                    <div>
                        <div class="peer">
                          
                            <md-button ng-disabled="!VIEW.RecuperarPassword"
                                       ng-click="VIEW.Submit(VIEW.RecuperarPassword)"
                                       style="float:right" class="md-primary md-raised">Recuperar Contraseña</md-button>
                        </div>
                    </div>
                </div>
                <style>

                    #footer {
                        position: fixed;
                        left: 0px;
                        bottom: 0px;
                        height: 50px;
                        width: 100%;
                        background: #ffffffc7;
                        padding-left: 22px;
                    }
                </style>
                <div id="footer">
                    <h6 style="color: #0c8fe8; padding-bottom: 0px !important; margin-bottom: 0px;">Sistema Centralizado de Gesti&oacute;n de Usuarios (SCGU)</h6>
                    Direcci&oacute;n de Tecnolog&iacute;as de la Informaci&oacute;n, y Comunicaciones
                    <br />
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="~/vendor.js"></script>
    <script type="text/javascript" src="~/bundle.js"></script>
    <script type="text/javascript" src="~/assets/Js/AngularJS.js"></script>
    <script src="~/assets/Js/AngularMaterial/angular-material.min.js"></script>
    <script src="~/assets/Js/angular-animate/angular-animate.min.js"></script>
    <script src="~/assets/Js/angular-aria/angular-aria.min.js"></script>
    <script src="~/assets/Js/angular-messages/angular-messages.min.js"></script>
    <script src="~/assets/Js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://underscorejs.org/underscore-min.js"></script>
    <script src="~/assets/Plugins/BrowserReport/BrowserReport.js"></script>
    <script type="text/javascript">
        (function () {
            const context = angular.module("AuthServerApp", [
                'ngSanitize',
                'ngMaterial',
                'ngMessages']);
        })();
    </script>
    <script src="~/assets/App/Services/ValidatorsService.js"></script>
    <script src="~/assets/RecuperarPasswordController.js"></script>
    @*<script>
            (function () {
                const context = angular.module("AuthServerApp", [
                    'ngSanitize',
                    'ngMaterial',
                    'ngMessages']);
                context.controller('LoginCTR', LoginCTR);
                LoginCTR.$inject = ['$scope', '$http'];
                function LoginCTR($scope, $http) {

                    let BrowserReport = browserReportSync();

                    try {
                        BrowserReport = {
                            Browser: BrowserReport.browser.name,
                            Browser_Version: BrowserReport.browser.version,
                            OS: BrowserReport.os.name,
                            OS_Version: BrowserReport.os.version,
                            Language: BrowserReport.lang[0],
                            Screen: BrowserReport.screen.width + 'x' + BrowserReport.screen.height
                        };
                    } catch (e) {
                        BrowserReport = {};
                    }



                    console.log('--->', BrowserReport);

                    $scope.UserLoginDTO = { Identifier: null, Password: null };
                    $scope.Login = (LoginParams) => {
                        if ($scope.UserLoginDTO.Identifier && $scope.UserLoginDTO.Password) {
                            $scope.LoginError = false;
                            $scope.Loading = true;
                            $scope.loginHasFailed = false;
                            $scope.UserLoginDTO.ReturnUrl = document.getElementById('returnUrl').value;

                            const LOGIN_DTO = angular.extend({}, BrowserReport, LoginParams);

                            $http.post('/Login', LOGIN_DTO).then((r) => {
                                if (r.data.returnUrl)
                                    window.location.replace(r.data.returnUrl);
                                if (r.data.token) {
                                    $scope.UserLoginDTO.NewPasswordToken = r.data.token;
                                    $scope.resetPassword = true;
                                }
                                $scope.Loading = false;
                            },
                                (e) => {
                                    $scope.responseStatus = e.status;
                                    console.log(e)
                                    $scope.loginHasFailed = true;
                                    $scope.Loading = false;
                                });
                        } else $scope.LoginError = true;
                    }
                }
            })();
        </script>*@
</body>
</html>