﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="VIEWport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link href="~/assets/css/loader.css" rel="stylesheet" />
    <title>Registro</title>
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    <style>
        #loader {
            transition: all .3s ease-in-out;
            opacity: 1;
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            background: #fff;
            z-index: 90000
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        #loader.fadeOut {
            opacity: 0;
            visibility: hidden
        }

        .spinner {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1s infinite ease-in-out;
            animation: sk-scaleout 1s infinite ease-in-out
        }

        .selectdemoSelectHeader {
            /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
        }

            .selectdemoSelectHeader .demo-header-searchbox {
                border: none;
                outline: none;
                height: 100%;
                width: 100%;
                padding: 0;
            }

            .selectdemoSelectHeader .demo-select-header {
                box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
                padding-left: 10.667px;
                height: 48px;
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                width: auto;
            }

            .selectdemoSelectHeader md-content._md {
                max-height: 240px;
            }

        @@-webkit-keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0)
            }

            100% {
                -webkit-transform: scale(1);
                opacity: 0
            }
        }

        @@keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0)
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0
            }
        }
    </style>
    <link href="~/assets/Js/AngularMaterial/angularmaterial.css" rel="stylesheet" />
    <link href="~/style.css" rel="stylesheet">
</head>
<body class="app" ng-app="AuthServerApp" ng-cloak>
    <div id="loader"><div class="spinner"></div></div>
    <script>
        window.addEventListener('load', () => {
            const loader = document.getElementById('loader');
            setTimeout(() => {
                loader.classList.add('fadeOut');
            }, 300);
        });</script>
    <div class="peers ai-s fxw-nw h-100vh" ng-controller="SignupController as VIEW">
        <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style="background-image:url(@AuthServer_IdentityServer.Config.GetLoginImage()">
            <div class="pos-a centerXY">
                <div class="bgc-white pos-r" style="width:120px;height:120px;border-radius: 74px;background: #ffffffc9!important;">
                    <img style="height:auto;max-width:120px;" class="pos-a centerXY" src="~/assets/static/images/logon.svg" alt="">

                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r"
             ng-show="!VIEW.Succesfull"
             style="min-width:320px">
            <h4 ng-if="!resetPassword" class="fw-300 c-grey-900 mB-40">
                Solicitud de cuenta de usuario
                <span style="font-weight:700; color:#0C83E2">MICM</span>
            </h4>
            <h4 style="font-weight:700; color:#0C83E2" ng-if="resetPassword" class="fw-300  mB-40">
                Para continuar, necesitamos que cambies tu contraseña
            </h4>
            <form flex name="newusrform">
                <div flex layout="row" layout-align="center center">
                    <img ng-src="{{VIEW.cedPhoto}}" style="border: solid 3px #8dd0ff;
    border-radius: 49px;
    height: auto;
    max-width: 132px;
" />
                </div>
                <hr />
                <md-input-container class="md-block" flex-gt-xs>
                    <label>C&eacute;dula</label>
                    <input ng-change="VIEW.isCedula(VIEW.NewUser.Cedula)? VIEW.FetchCedulaInfo(VIEW.NewUser.Cedula) : angular.noop()"
                           ng-model="VIEW.NewUser.Cedula">
                </md-input-container>
                <div ng-if="VIEW.isCedula(VIEW.NewUser.Cedula)">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Primer Nombre</label>
                        <input required ng-model="VIEW.NewUser.FirstName">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Segundo Nombre</label>
                        <input ng-model="VIEW.NewUser.SecondName">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Primer Apellido</label>
                        <input ng-model="VIEW.NewUser.FirstLastName" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Segundo Apellido</label>
                        <input ng-model="VIEW.NewUser.SecondLastName">
                    </md-input-container>
                    <md-input-container style="width:100%!important">
                        <label>G&eacute;nero</label>
                        <md-select placeholder="Genero" required
                                   ng-model="VIEW.NewUser.Gender"
                                   style="min-width: 200px;">
                            <md-option ng-value="g.id"
                                       ng-repeat="g in VIEW.Genders">
                                {{g.Nombre}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Correo Electr&oacute;nico</label>
                        <input type="email" required ng-model="VIEW.NewUser.Email">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Fecha de Nacimiento</label>
                        <input type="date" required ng-model="VIEW.NewUser.BirthDate">
                    </md-input-container>
                    <md-input-container style="width:100%!important">
                        <label>Provincia</label>
                        <md-select placeholder="Provincia"
                                   data-md-container-class="selectdemoSelectHeader"
                                   ng-model="VIEW.NewUser.province" required
                                   style="min-width: 200px;">
                            <md-select-header class="demo-select-header">
                                <input ng-model="VIEW.ProvSTM"
                                       type="search"
                                       ng-keydown="$event.stopPropagation()"
                                       placeholder="Busca una provincia.."
                                       class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-option ng-value="p"
                                       ng-repeat="p in VIEW.Provinces |filter:VIEW.ProvSTM">
                                {{p.provinceName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container style="width:100%!important">
                        <label>Municipio</label>
                        <md-select placeholder="Municipio" required
                                   ng-disabled="!VIEW.NewUser.province.provinceID"
                                   data-md-container-class="selectdemoSelectHeader"
                                   ng-model="VIEW.NewUser.Municipality"
                                   md-on-open="VIEW.LoadMunicipios(VIEW.NewUser.province.provinceID)"
                                   style="min-width: 200px;">
                            <md-select-header class="demo-select-header">
                                <input ng-model="VIEW.MunSTM"
                                       type="search"
                                       ng-keydown="$event.stopPropagation()"
                                       placeholder="Busca un Municipio.."
                                       class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-option ng-value="p"
                                       ng-repeat="p in VIEW.Municipalities |filter:VIEW.MunSTM">
                                {{p.municipalityName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container style="width:100%!important">
                        <label>Sector</label>
                        <md-select placeholder="Sector" required
                                   ng-disabled="!VIEW.NewUser.Municipality.municipalityID"
                                   data-md-container-class="selectdemoSelectHeader"
                                   ng-model="VIEW.NewUser.Sector"
                                   md-on-open="VIEW.LoadSectors(VIEW.NewUser.Municipality.municipalityID)"
                                   style="min-width: 200px;">
                            <md-select-header class="demo-select-header">
                                <input ng-model="VIEW.sectSTM"
                                       type="search"
                                       ng-keydown="$event.stopPropagation()"
                                       placeholder="Busca un Sector.."
                                       class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-option ng-value="p"
                                       ng-repeat="p in VIEW.Sectors |filter:VIEW.sectSTM">
                                {{p.sectorName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Direcci&oacute;n</label>
                        <textarea required ng-model="VIEW.NewUser.Address" md-maxlength="150" rows="2" md-select-on-focus></textarea>
                    </md-input-container>
                    <md-input-container style="width:100%!important">
                        <label>Sucursal MICM</label>
                        <md-select placeholder="Sucursal MICM"
                                   ng-model="VIEW.NewUser.Location" required
                                   style="min-width: 200px;">
                            <md-option ng-value="g"
                                       ng-repeat="g in VIEW.Locations">
                                {{g.locationName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Extensión telefónica</label>
                        <input required type="number" ng-model="VIEW.NewUser.Ext">
                    </md-input-container>
                    <md-input-container style="width:100%!important">
                        <label>Departamento</label>
                        <md-select placeholder="Departamento"
                                   ng-model="VIEW.NewUser.Department"
                                   flex required
                                   data-md-container-class="selectdemoSelectHeader"
                                   md-on-open="vm.LoadDepartments()"
                                   style="min-width: 200px;">
                            <md-select-header class="demo-select-header">
                                <input ng-model="VIEW.depSTM"
                                       type="search"
                                       ng-keydown="$event.stopPropagation()"
                                       placeholder="Busca un departamento.."
                                       class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-option ng-value="d"
                                       ng-repeat="d in VIEW.Departments |filter:VIEW.depSTM">{{d.departmentName}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-iput-container style="width:100%!important">
                        <label>Cargo</label>
                        <md-autocomplete md-no-cache="false" required
                                         md-selected-item="VIEW.NewUser.jobTitle"
                                         md-search-text-change="VIEW.JobTitle.onTextChange(VIEW.JobTitle.LookUpText)"
                                         md-search-text="VIEW.JobTitle.LookUpText"
                                         md-selected-item-change="VIEW.JobTitle.onItemChange(item)"
                                         md-items="item in VIEW.JobTitle.JobTitles"
                                         md-item-text="item.jobTitleName"
                                         md-min-length="0"
                                         placeholder="Cargo">
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.jobTitleName}}</span>
                            </md-item-template>
                            <md-not-found>
                                <span ng-if="JobTitle.LookUpText!=''"> No hay registros como "{{JobTitle.LookUpText}}" en la base de datos.</span>
                                <span ng-if="JobTitle.LookUpText==''">Empieza a escribir el nombre del cargo</span>
                            </md-not-found>
                        </md-autocomplete>
                    </md-iput-container>
                </div>
                <div class="form-group">
                    <div>
                        <div class="peer">
                            <md-button ng-disabled="newusrform.$invalid ||  !VIEW.NewUser.jobTitle.jobTitleID"
                                       ng-click="VIEW.Submit(VIEW.NewUser)"
                                       style="float:right" class="md-primary md-raised">Enviar Solicitud</md-button>
                        </div>
                    </div>
                </div>
                <style>
                    #footer {
                        position: fixed;
                        left: 0px;
                        bottom: 0px;
                        height: 50px;
                        width: 100%;
                        background: #ffffffc7;
                        padding-left: 22px;
                    }
                </style>
                <div id="footer">
                    <h6 style="color: #0c8fe8; padding-bottom: 0px !important; margin-bottom: 0px;">Sistema Centralizado de Gesti&oacute;n de Usuarios (SCGU)</h6>
                    Direcci&oacute;n de Tecnolog&iacute;as de la Informaci&oacute;n, y Comunicaciones
                    <br />
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="~/vendor.js"></script>
    <script type="text/javascript" src="~/bundle.js"></script>
    <script type="text/javascript" src="~/assets/Js/AngularJS.js"></script>
    <script src="~/assets/Js/AngularMaterial/angular-material.min.js"></script>
    <script src="~/assets/Js/angular-animate/angular-animate.min.js"></script>
    <script src="~/assets/Js/angular-aria/angular-aria.min.js"></script>
    <script src="~/assets/Js/angular-messages/angular-messages.min.js"></script>
    <script src="~/assets/Js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://underscorejs.org/underscore-min.js"></script>
    <script src="~/assets/Plugins/BrowserReport/BrowserReport.js"></script>
    <script type="text/javascript">
        (function () {
            const context = angular.module("AuthServerApp", [
                'ngSanitize',
                'ngMaterial',
                'ngMessages']);
        })();
    </script>
    <script src="~/assets/App/Services/ValidatorsService.js"></script>
    <script src="~/assets/SignupController.js"></script>
    @*<script>
            (function () {
                const context = angular.module("AuthServerApp", [
                    'ngSanitize',
                    'ngMaterial',
                    'ngMessages']);
                context.controller('LoginCTR', LoginCTR);
                LoginCTR.$inject = ['$scope', '$http'];
                function LoginCTR($scope, $http) {

                    let BrowserReport = browserReportSync();

                    try {
                        BrowserReport = {
                            Browser: BrowserReport.browser.name,
                            Browser_Version: BrowserReport.browser.version,
                            OS: BrowserReport.os.name,
                            OS_Version: BrowserReport.os.version,
                            Language: BrowserReport.lang[0],
                            Screen: BrowserReport.screen.width + 'x' + BrowserReport.screen.height
                        };
                    } catch (e) {
                        BrowserReport = {};
                    }



                    console.log('--->', BrowserReport);

                    $scope.UserLoginDTO = { Identifier: null, Password: null };
                    $scope.Login = (LoginParams) => {
                        if ($scope.UserLoginDTO.Identifier && $scope.UserLoginDTO.Password) {
                            $scope.LoginError = false;
                            $scope.Loading = true;
                            $scope.loginHasFailed = false;
                            $scope.UserLoginDTO.ReturnUrl = document.getElementById('returnUrl').value;

                            const LOGIN_DTO = angular.extend({}, BrowserReport, LoginParams);

                            $http.post('/Login', LOGIN_DTO).then((r) => {
                                if (r.data.returnUrl)
                                    window.location.replace(r.data.returnUrl);
                                if (r.data.token) {
                                    $scope.UserLoginDTO.NewPasswordToken = r.data.token;
                                    $scope.resetPassword = true;
                                }
                                $scope.Loading = false;
                            },
                                (e) => {
                                    $scope.responseStatus = e.status;
                                    console.log(e)
                                    $scope.loginHasFailed = true;
                                    $scope.Loading = false;
                                });
                        } else $scope.LoginError = true;
                    }
                }
            })();
        </script>*@
</body>
</html>