﻿@model AuthServer.Controllers.ConsentController.ConsentFailureModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>@Model.AppName</title>
    <link href="style.css" rel="stylesheet">
    <script type="text/javascript" src="vendor.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
</head>
<body class="app">
    <div class="pos-a t-0 l-0 bgc-white w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r p-30">
        <div class="mR-60">
            <img alt="#" src="~/assets/static/images/LogoSCGU.svg">
        </div><div class="d-f jc-c fxd-c">
            <h1 class="mB-30 fw-900 lh-1 c-red-500" style="font-size:30px">@Model.ErrorTitle</h1>
            <p class="mB-30 fsz-def c-grey-700">@Model.ErrorMsg</p>
            <div>
            </div>
        </div>
    </div>
</body>
</html>