﻿@model Models.System.Application
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>@Model.ApplicationID</title>
    <link href="style.css" rel="stylesheet">
    <script type="text/javascript" src="vendor.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
</head>
<body class="app">
    <div class="pos-a t-0 l-0 bgc-white w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r p-30">
        <div class="mR-60">
            <img alt="#" src="~/assets/static/images/LogoSCGU.svg">
        </div><div class="d-f jc-c fxd-c">
            <h1 class="mB-30 fw-900 lh-1 c-red-500" style="font-size:30px;color:cornflowerblue!important">El sistema "@Model.ApplicationID" est&aacute; en mantenimiento.</h1>
            <p class="mB-30 fsz-def c-grey-700">
                Actualmente estamos realizando modificaciones en el sistema @Model.ApplicationID, por lo tanto no podras acceder a el.<br /> Espera unos minutos e int&eacute;ntalo una vez m&aacute;s. <br />
                <span style="font-style:italic;font-weight:bold"> Para m&aacute;s informaci&oacute;n, comun&iacute;cate con tu administrador de sistemas.</span>
                <br />
                @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt")
            </p>
            <div>
            </div>
        </div>
    </div>
</body>
</html>