﻿<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions" style="background-color:rgb(0, 118, 205)!important">
    <div class="md-toolbar-tools">
        <h5>Lista de aplicaciones</h5>
    </div>
</md-toolbar>
<div class="row" ng-controller="AppsListController">
    <div class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
            <div class="progress" ng-if="state == States.Loading">
                <div class="indeterminate" style="background-color: #0076CD;"></div>
            </div>
            <form ng-class="state == States.Loading?'formLoading':''">
                <div>
                    <div class="col-md-12">
                        <h5>Filtros</h5>
                        <hr />
                    </div>
                    <div layout-gt-sm="row">
                        <div class="form-group col-md-9">
                            <label class="fw-500">Nombre</label>
                            <input type="text"
                                   class="form-control"
                                   id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   ng-model="VM.filters.RequirementID"
                                   placeholder="Empieza a escribir el nombre de la aplicación">
                        </div>
                        <div class="col-md-3">
                            <label>Estatus</label>
                            <md-select ng-model="VM.filters.Status"
                                       ng-change="VM.GetDocuments()"
                                       style="margin-top:0!important">
                                <md-option ng-value="2">
                                    <md-chips>
                                        <md-chip style="font-size:10px!important; background-color:#96ff5e">
                                            Activa
                                        </md-chip>
                                    </md-chips>
                                </md-option>
                                <md-option ng-value="3">
                                    <md-chips>
                                        <md-chip style="font-size:10px!important; background-color:#ff9999">
                                            Desactivada
                                        </md-chip>
                                    </md-chips>
                                </md-option>
                                <md-option ng-value="null">
                                    <md-chips>
                                        <md-chip style="font-size:10px!important; background-color:#cfcfcf">
                                            Todas
                                        </md-chip>
                                    </md-chips>
                                </md-option>
                            </md-select>
                        </div>
                    </div>
                </div>
                <hr />      
                <md-table-container style="width:100%!important;font-weight:500!important">
                    <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                            <tr md-row>
                                <th md-column scope="col">Nombre/ID</th>
                                <th md-column scope="col">Description</th>
                                <th md-column scope="col">Usuarios</th>
                                <th md-column scope="col">Estatus</th>
                                <th md-column scope="col"></th>

                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="app in Apps">
                                <th md-cell>{{app.applicationID}}</th>
                                <td md-cell>{{app.description}}</td>
                                <td md-cell>{{app.usersCount}}</td>
                                <td md-cell>
                                    <md-chips>
                                        <md-chip ng-show="app.applicationStatus==2" style="font-size:10px!important; background-color:#96ff5e">
                                            NORMAL
                                        </md-chip>
                                    </md-chips>
                                    <md-chips ng-show="app.applicationStatus==3">
                                        <md-chip style="font-size:10px!important; background-color:#ff9999">
                                            DESACTIVADO
                                        </md-chip>
                                    </md-chips>
                                </td>
                                <td md-cell>
                                    <a href="/#!/Aplicaciones/{{app.applicationID}}" class="btn cur-p btn-outline-primary" style="float:right">Detalles</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination 
                                     md-limit="Limit"
                                     md-limit-options="[10, 20, 30,40]"
                                     md-page="page"
                                     md-total="{{Total}}"
                                     md-on-paginate="GetList"
                                     md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"
                                     md-page-select></md-table-pagination>                 
            </form>
        </div>
    </div>
</div>