﻿<style>
    .formLoading {
        opacity: 0.3 !important;
    }
</style>
<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions" style="background-color:rgb(0, 118, 205)!important">
    <div class="md-toolbar-tools">
        <h5>Creaci&oacute;n de Nuevo Usuario</h5>
    </div>
</md-toolbar>
<div class="row" ng-controller="NewUserController as view">
    <div ng-if="view.AppState===view.AppStates.Submitted"
         class="masonry-item col-md-12"
         style="margin-bottom:10px;">
        <div class="bgc-white p-20 bd" 
             style="background-color:#e8ffef!important">
            <h5> El usuario ha sido registrado exitosamente</h5>
            <span style="font-weight:bold">Email: </span><span>{{view.NewUser.Email}}</span>
            <br />
            <span style="font-weight:bold">Cedula: </span><span>{{view.NewUser.Cedula}}</span>
            <br />
            <span style="font-weight:bold">Contrase&ntilde;a: </span><span>{{view.NewUser.Password}}</span>
            <br />
            <span style="color:red">OJO: </span><span style="font-size:smaller">Se le solicitar&aacute; el cambio de contraseña al usuario la primera vez que inicie sesi&oacute;n.</span>
            <div class="row" layout="row" layout-align="end start">
                <button style="border-radius:0!important"
                        ng-click="view.GenerateReport($event)"
                        class="btn btn-primary">
                    Generar Reporte
                </button>
            </div>
        </div>
    </div>
    <hr />
    <div class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
            <div class="mT-10" ng-class="view.AppState===view.AppStates.Submitting?'formLoading':''">
                <div class="progress" ng-if="view.AppState === view.AppStates.Submitting">
                    <div class="indeterminate" 
                         style="background-color: #5fbd00;"></div>
                </div>

                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Primer Nombre</label>
                            <input ng-model="view.NewUser.FirstName" 
                                   ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted" 
                                   type="text" 
                                   class="form-control"
                                   placeholder="Primer Nombre">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Segundo Nombre</label>
                            <input ng-model="view.NewUser.SecondName" 
                                   ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted" 
                                   type="text"
                                   class="form-control"
                                   placeholder="Segundo Nombre">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Primer Apellido</label>
                            <input ng-model="view.NewUser.FirstLastName" 
                                   ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted" 
                                   type="text"
                                   class="form-control" 
                                   placeholder="Primer Apellido">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Segundo Apellido</label>
                            <input ng-model="view.NewUser.SecondLastName" 
                                   ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted" 
                                   type="text" 
                                   class="form-control"
                                   placeholder="Segundo Apellido">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input ng-model="view.NewUser.Email"
                                   ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted"
                                   type="email"
                                   class="form-control"
                                   id="inputEmail4"
                                   ng-change="view.OnEmailChange(view.NewUser.Email)"
                                   placeholder="Email">
                            <span ng-if="view.NewUser.Email" style="color:{{view.EmailValidation.Color}}">{{view.EmailValidation.Message}}</span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>G&eacute;nero</label>
                            <select ng-model="view.NewUser.Gender" ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted"
                                    class="form-control">
                                <option disabled selected hidden>Seleccionar...</option>
                                <option value="2">Masculino</option>
                                <option value="3">Femenino</option>
                                <option value="4">Otro</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Cedula</label>
                            <input ng-model="view.NewUser.Cedula" ng-change="onIDChange(view.NewUser.Cedula)" ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted" type="text" class="form-control" placeholder="Cedula">
                            <span ng-if="view.NewUser.Cedula && view.NewUser.Cedula.length >=11" style="color:{{view.IDValidation.Color}}">{{view.IDValidation.Message}}</span>

                        </div>
                        <div class="form-group col-md-6">
                            <label>Pa&iacute;s de Origen</label>
                            <select class="form-control"
                                    ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted"
                                    ng-model="view.NewUser.BirthCountry"
                                    ng-options="country.countryName for country in view.Countries track by country.countryIso2Code"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Direcci&oacute;n</label>
                        <input ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted"
                               type="text"
                               class="form-control"
                               ng-model="view.NewUser.Address"
                               placeholder="Calle, número">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputState">Provincia</label>
                            <select ng-model="view.NewUser.Province"
                                    ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted"
                                    ng-change="view.LoadMunicipios(view.NewUser.Province.provinceID)"
                                    ng-options="province.provinceName for province in view.Provinces track by province.provinceID"
                                    class="form-control"></select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">Municipio</label>
                            <select ng-disabled="!view.NewUser.Province.provinceID || view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted"
                                    ng-model="view.NewUser.Municipality"
                                    ng-change="view.LoadSectors(view.NewUser.Municipality.municipalityID)"
                                    ng-options="municipality.municipalityName for municipality in view.Municipalities track by municipality.municipalityID" class="form-control"></select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">Sector</label>
                            <select ng-disabled="!view.NewUser.Province.provinceID || !view.NewUser.Municipality.municipalityID || view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted"
                                    ng-model="view.NewUser.Sector"
                                    ng-options="sector.sectorName for sector in view.Sectors track by sector.sectorID" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="fw-500">Fecha de Nacimiento</label>
                            <div class="timepicker-input input-icon form-group">
                                <div class="input-group">
                                    <div class="input-group-addon bgc-white bd bdwR-5">
                                        <i class="ti-calendar"></i>
                                    </div>
                                    <input ng-model="view.NewUser.BirthDate"
                                           ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted"
                                           class="form-control"
                                           type="date" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Cargo</label>
                            <md-autocomplete ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted"
                                             md-no-cache="view.JobTitle.cacheDisabled"
                                             md-selected-item="view.NewUser.JobTitle"
                                             md-search-text-change="view.JobTitle.onTextChange(view.JobTitle.LookUpText)"
                                             md-search-text="view.JobTitle.LookUpText"
                                             md-selected-item-change="view.JobTitle.onItemChange(item)"
                                             md-items="item in view.JobTitle.JobTitles"
                                             md-item-text="item.jobTitleName"
                                             md-min-length="0"
                                             placeholder="Cargo">
                                <md-item-template>
                                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.jobTitleName}}</span>
                                </md-item-template>
                                <md-not-found>
                                    <span ng-if="view.JobTitle.LookUpText!=''"> No hay registros como "{{view.JobTitle.LookUpText}}" en la base de datos.</span>
                                    <span ng-if="view.JobTitle.LookUpText==''">Empieza a escribir el nombre del cargo</span>
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Departamento</label>
                            <md-autocomplete ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted"
                                             md-no-cache="view.Departments.cacheDisabled"
                                             md-selected-item="view.NewUser.Department"
                                             md-search-text-change="view.Departments.onTextChange(view.Departments.LookUpText)"
                                             md-search-text="view.Departments.LookUpText"
                                             md-selected-item-change="view.Departments.onItemChange(item)"
                                             md-items="item in view.Departments.Departments"
                                             md-item-text="item.departmentName"
                                             md-min-length="0"
                                             placeholder="Departamento">
                                <md-item-template>
                                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.departmentName}}</span>
                                </md-item-template>
                                <md-not-found>
                                    <span ng-if="view.Departments.LookUpText!=''"> No hay registros como "{{view.Departments.LookUpText}}" en la base de datos.</span>
                                    <span ng-if="view.Departments.LookUpText==''">Empieza a escribir el nombre del departamento/direcci&oacute;n</span>
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Sucursal</label>
                            <md-autocomplete ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted"
                                             md-selected-item="view.NewUser.Location"
                                             md-search-text-change="view.Locations.onTextChange(view.Locations.LookUpText)"
                                             md-search-text="view.Locations.LookUpText"
                                             md-items="item in view.Locations.Locations"
                                             md-item-text="item.locationName"
                                             md-require-match="true"
                                             md-select-on-match="true"
                                             md-match-case-insensitive="true"
                                             placeholder="Sucursal">
                                <md-item-template>
                                    <span md-highlight-text="view.Locations.LookUpText" md-highlight-flags="^i">{{item.locationName}}</span>
                                </md-item-template>
                                <md-not-found>
                                    <span ng-if="view.Locations.LookUpText!=''"> No hay registros como "{{view.Locations.LookUpText}}" en la base de datos.</span>
                                    <span ng-if="view.Locations.LookUpText==''">Empieza a escribir el nombre de la sucursal</span>
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                    </div>
                    <div class="form-row">
                        <hr />
                        <div class="form-group col-md-6">
                            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                                <input ng-model="view.NewUser.isServerAdmin"
                                       type="checkbox"
                                       id="inputCall2"
                                       name="inputCheckboxesCall"
                                       class="peer">
                                <label for="inputCall2"
                                       class="peers peer-greed js-sb ai-c">
                                    <span class="peer peer-greed">Registrar como administrador del servidor</span>
                                </label>
                            </div>
                        </div>
                        <!--<div class="form-group col-md-6">
                            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                                <input ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted"
                                       ng-model="view.NewUser.isServerAdmin"
                                       type="checkbox"
                                       id="inputCall2"
                                       name="inputCheckboxesCall"
                                       class="peer">
                                <label for="inputCall2"
                                       class="peers peer-greed js-sb ai-c">
                                    <span class="peer peer-greed">Registrar como usuario Activo</span>
                                </label>
                            </div>
                        </div>-->
                    </div>
                    <button ng-if="!(view.AppState===view.AppStates.Submitted)"
                            ng-disabled="view.AppState===view.AppStates.Submitting || view.AppState===view.AppStates.Submitted"
                            ng-click="view.Register(view.NewUser)"
                            class="btn btn-primary">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
